<h2>Recently added books</h2>
<ul>
    <% books.forEach(book => { %>
        <li>
            <img height="150" width="AUTO" style="object-fit: contain;" src="<%= book.coverImagePath %>" alt="<%= book.title %>">
            <p><%= book.title %></p>
        </li>
    <% }) %>
</ul>
