<h2>Edit <%= book.title %> </h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
  <button type="submit">Update</button>
  <a href="/books/<%= book.id %>">Cancel</a>
</form>
