<div>
    <label for="Name">name</label>
    <input type="text" id="name" name="name" value="<%= author.name %>">
    <!-- The layout.ejs file is the parent template that wraps around all the other views. It contains the basic structure of the HTML document, including the doctype, head, and body tags. The layout.ejs file also includes the header partial, which is a reusable component that displays the site's navigation menu. -->
</div>