<h2>New Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
  <button class="btn btn-primary" type="submit">Update</button>
  <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
</form>
