<% if (locals.errorMessage != null) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= locals.errorMessage %>
    </div>
<% } %>

<!-- <% if (locals.successMessage != null) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= locals.successMessage %>
    </div>
 
<% } %> -->