<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add authors</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>